
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Darshan portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assetsvendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Knight - v4.8.0
  * Template URL: https://bootstrapmade.com/knight-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<nav id="navbar" class="navbar">
    <ul>
      <li><a class="nav-link scrollto active" href="/hero">Home</a></li>
      <li><a class="nav-link scrollto" href="/about">About Me</a></li>
      <li><a class="nav-link scrollto" href="/resume">Resume</a></li>
      <li><a class="nav-link scrollto " href="/projects">Projects</a></li>
      
      <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
      {% if not request.user.is_authenticated %}

        <li><a class="nav-link" href="/signup">Signin</a></li>
        {% else %}
        <li><a class="nav-link" href="/logout">Logout</a></li>
        

         {% endif %}
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav><!-- .navbar -->

</div>
</header><!-- End Header -->

<main id="main">


<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
    <div class="container">

      <div class="section-title">
        <h1>Contact Us</h1>


<div class="container mt-2">

    <div class="row">
    
    <div class="col-md-3"> </div>
    
    <div class="col-md-6">
    
    
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong></strong> {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    
    {% comment %} Contact Us COde  {% endcomment %}
   
    <form action="/contact" method="post">{% csrf_token %}


        <div class="form-group">
        <input type="text" class="form-control" name="fullname" placeholder="Enter Your Name" required>
        </div>
        
        
        <div class="form-group">
        <input type="email" class="form-control mt-2" name="email" placeholder="Enter Your Email" required>
        </div>
        
        <div class="form-group">
        <input type="number" class="form-control mt-2" name="num" placeholder="Enter Your Number" required>
        </div>
        
        <div class="form-group">
        <label for="desc" class="text-success">How can i help you?</label>
        <textarea class="form-control mt-2" name="desc" cols="5" rows="3" id="desc"></textarea>
        </div>
        
        
        <br>
        <div class="d-grid gap-2">
          <button class="btn btn-success" type="submit">Submit</button>
        
        </div>
        
        </form>
        
    
    
    </div>
    
    <div class="col-md-3"></div>
    
    </div>
    
    
    
    </div>

  </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">

    <div class="container">

      

      

    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Darshan</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-free-bootstrap-theme/ -->
      Designed by <a href="">Darshan</a>
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="static/assets/vendor/aos/aos.js"></script>
<script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="static/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="static/assets/js/main.js"></script>

</body>

</html>